node_modules
__pycache__
*.pyc
*.pye
docker-compose.yml
docker-compose.tests.yml
.idea/workspace.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/softagram.iml
untracked-dump

*.swp
*.swo
.DS_Store


.dockerenv
.pylintrc
.version
external
.pytest_cache
.mypy_cache/
/tmp/*

pytype_output
src/pytype_output
src/.mypy_cache
ignored
testdata-outputs
/venv/

src/json/auth.json
src/json/integrations.json
src/main/all_case_auto.py
src/slack/test_results/*